.patients-container {
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
    background-color: #ffffffcc;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.table-scroll-wrapper {
    max-height: 400px;
    overflow-y: auto;
  }

.patients-table {
    width: 100%;
    border-collapse: collapse;
}

.patients-table th,
.patients-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.patients-table th {
    background-color: #007C7B;
    color: white;
}

.patients-table-scroll-wrapper {
    max-height: 400px;
    overflow-y: auto;
}

.patients-table-scroll-wrapper thead th {
    position: sticky;
    top: 0;
}

.patients-table-scroll-wrapper.modal-open thead th {
    position: static;
}

button {
    margin: 10px 0;
    padding: 8px 16px;
    background-color: #009e9e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00b3b3;
}

.info-message {
    background-color: #dff0d8;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b2dba1;
    border-radius: 4px;
    color: #3c763d;
}

.error-message {
    color: red;
    padding: 8px;
    margin-bottom: 12px;
}

.add-patient-btn {
    top: 3% !important;
}

.vitals-table {
    border-collapse: collapse;
}

.vitals-table th,
.vitals-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.vitals-modal-box{
    width: 600px;
}
